!!! html
%html
  %head
    %title 12 West ParkApp
    = yield :header
    %meta(name="HandheldFriendly" content="true")
    %meta(name="MobileOptimized" content="width")
    %meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    = csrf_meta_tag
    
  %body(onload="App.init();")= yield
